name: Deploy to AKS

on:
  workflow_call:
  #push:
  #  branches: [ "main" ]

jobs:
  deploy:
    runs-on: windows

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        shell: powershell
        run: | 
          az login --identity
          az account list --output table
        #uses: azure/login@v2
        #with:
        #  creds: ${{ secrets.AZURE_CREDENTIALS }}

      # - name: Get AKS credentials
      #   run: |
      #     az aks get-credentials \
      #       --resource-group ${{ secrets.AKS_RG }} \
      #       --name ${{ secrets.AKS_NAME }} \
      #       --overwrite-existing

      # - name: Deploy to AKS
      #   run: |
      #     kubectl apply -f k8s/