name: Deploy to AKS

on:
  workflow_dispatch:
  #push:
  #  branches: [ "main" ]

jobs:
  deploy:
    runs-on: windows

    steps:
      - uses: actions/checkout@v4

      - name: Verify AZ CLI install
        shell: powershell
        run: |
          # Check if Azure CLI is installed
          $az = Get-Command az -ErrorAction SilentlyContinue

          if ($az) {
              Write-Host "Azure CLI is already installed. Version:" (az version)
          } else {
              Write-Host "Azure CLI not found. Installing silently..."

              winget install --accept-source-agreements --exact --id Microsoft.AzureCLI

              # Verify installation
              if (Get-Command az -ErrorAction SilentlyContinue) {
                  Write-Host "Azure CLI installed successfully."
              } else {
                  Write-Host "Azure CLI installation failed."
              }
          } 

      - name: Azure Login
        shell: powershell
        run: | 
          az login --identity
          az account list --output table
        #uses: azure/login@v2
        #with:
        #  creds: ${{ secrets.AZURE_CREDENTIALS }}

      # - name: Get AKS credentials
      #   run: |
      #     az aks get-credentials \
      #       --resource-group ${{ secrets.AKS_RG }} \
      #       --name ${{ secrets.AKS_NAME }} \
      #       --overwrite-existing

      # - name: Deploy to AKS
      #   run: |
      #     kubectl apply -f k8s/